*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
**/.dtbcache.v2
/**/*.cache
**/*.binlog
**/.vs/*
**/*.ncrunchsolution

**/*.ps1*.TMP
/06-Automation/06-02-Tools-Nuke/.tmp/build-attempt.log
/06-Automation/06-02-Tools-Nuke/.tmp/shell-completion.yml
**/_NCrunch_*/StoredText/*
**/_NCrunch_*/StoredText/*
**/BenchmarkDotNet.Artifacts/*
**/.sonarqube/*
**/coverage.opencover.xml
/05-Architecture/05-03-Cdc/05-03-02-node-consumer/node/*
**/node_modules/*
**/node/node
**/node/node.exe
**/05-03-02-node-consumer/target/*
**/StrykerOutput/*
/06-Automation/Src/06-02-Tools-Pester/BuildScript/doc/*
/00-App/Src/00-FraudDetection/FraudDetectionTests/FraudDetectionTests.v3.ncrunchproject
**/.nuke/temp/**/*
